# Dependencies
node_modules/

# Build outputs
dist/
dist-appimage/
*.apk
*.apk.idsig
*.exe
*.setup.exe
*.zip
*.appimage

# Logs
*.log
logsionclient.log

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Other
sion-release.keystore
package-for-windows.sh
